.search-bar{
  display: flex;
  padding: 30px;
  margin-left: 3opx;
  column-gap: 14px;
  justify-content: flex-end;
}

.input {
color: #f1f1f1;
padding: 17px;
background-color: #212529;
border: none;
font-size: 15pt;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

.button{
  border: none;
  font-size: 15pt;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.pokemon {
  display: flex;
  width: 300px;
}

.Card {
  background-color: #f1f1f1;
  width: 350px;
  height: 300px;
  color: #f1f1f1;
}

.example-header-image {
  background-size: cover;
}

.carrusel {
  display: grid;
  gap: 10rem;
  grid-auto-flow: dense;
  grid-auto-rows: 28rem;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  padding: 2em;
}

.chip {
  margin: 3px;
  display: inline-block;
  padding: 0 9px;
  height: 39px;
  font-size: 14px;
  line-height: 40px;
  border-radius: 25px;
}

