<div class="search-bar">
  <input type="text" class="form-control" name="filterData" placeholder="search" [(ngModel)]="filterData" >
</div>


<div class="carrusel" style="grid-auto-rows: 13rem">

  <mat-card *ngFor="let character of characters | filter:filterData" class="Card">
    <img
      class="pokemon"
      mat-card-image
      src="{{ character.sprite}}"
      alt="Photo of a Shiba Inu"
    />
    <mat-chip-listbox >
      <mat-chip style="background-color: #8BC34A">
        <img
          width="40px"
          src="{{ character.sprite }}"
          alt="Photo of a Shiba Inu"
        />
        {{character.name}}
      </mat-chip>
      <div [ngSwitch]="character.type" style="text-align: center">
        <div class="chip chip-water" *ngSwitchCase="'water'" >{{character.type}}</div>
        <div class="chip chip-fire" *ngSwitchCase="'fire'" >{{character.type}}</div>
        <div class="chip chip-bug" *ngSwitchCase="'bug'" >{{character.type}}</div>
        <div class="chip chip-electric" *ngSwitchCase="'electric'">{{character.type}}</div>
        <div class="chip chip-normal" *ngSwitchCase="'normal'">{{character.type}}</div>
        <div class="chip chip-poison" *ngSwitchCase="'poison'"  >{{character.type}}</div>
        <div class="chip chip-grass" *ngSwitchCase="'grass'" >{{character.type}}</div>
        <div class="chip chip-psychic" *ngSwitchCase="'psychic'" >{{character.type}}</div>
        <div class="chip chip-rock" *ngSwitchCase="'rock'">{{character.type}}</div>
        <div class="chip chip-rock" *ngSwitchDefault="'rock'">{{character.type}}</div>
      </div>
    </mat-chip-listbox>
  </mat-card>
</div>
