<div class="search-bar">
  <input class="input" type="text"  placeholder="Buscar Pokémon" />
  <button class="button" >Buscar</button>
</div>


<div class="carrusel" style="grid-auto-rows: 13rem">
  <mat-card *ngFor="let character of characters" class="Card">
    <img
      class="pokemon"
      mat-card-image
      src="{{ character.sprites.front_default }}"
      alt="Photo of a Shiba Inu"
    />
    <mat-chip-listbox >
      <mat-chip style="background-color: #8BC34A">
        <img
          width="40px"
          src="{{ character.sprites.front_default }}"
          alt="Photo of a Shiba Inu"
        />
        {{character.name}}
      </mat-chip>
    </mat-chip-listbox>
  </mat-card>
</div>
